$party-red: #d5111d;
$party-black: #0c0c0e;
$party-gold: #B2973E;

@import 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Rock+Salt';
$altfont: 'Rock Salt', cursive;


body {
  background-color: $party-black;
  color: $party-gold;
}

label {
  color: $party-gold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
}

a:link, a:active, a:visited, a:hover {
  color: $party-red;
  text-decoration: none;
  font-weight: bolder;
}

input[type='text'], input[type='email'], input[type='text']:focus {
  background-color: $party-black;
  border: solid 2px $party-gold;
  border-radius: 10px;
  color: $party-gold;
  font-size: 1.5em;
  height: 1em;
  margin: 7px;
  outline: none;
  padding: 0.5em;
  text-align: center;
  width: 70%;
}

.sent-header {
  font-family: 'Roboto';
  font-weight: lighter;
}

.login-indicator {
  position: absolute;
  right: 10px;
  top: 10px;

  a {
    color: $party-gold;
    font-family: 'Roboto';
    font-size: 1.1em;
  }

  .svg {
    height: 1.3em;
  }
}

.logo {
  left: 10px;
  // position: absolute;
  top: 10px;

  a {
    color: $party-gold;
    font-family: $altfont;
    font-size: 1.1em;
  }
}

.container {
  font-size: 1em;
  margin: 70px auto 0;
  width: 75%;

  p {
    font-family: 'Roboto';
  }

  li {
    list-style: none;
    margin-left: -35px;

    a {
      font-family: 'Roboto';
    }
  }
}

.email-login-button {
  margin-left: 7px;
}

.email-login-label {
  margin: 10px;
}

input[type=button].email-login-button,
input[type=submit].email-login-button,
input[type=reset].email-login-button,
input[type=button].whats-on-btn,
input[type=submit].whats-on-btn,
input[type=reset].whats-on-btn {
  background-color: $party-gold;
  border: 0;
  border-radius: 10px;
  color: $party-black;
  font-size: 1.5em;
  padding: 0.5em 2em;
}

input[type=button].going-btn, input[type=submit].going-btn, input[type=reset].going-btn {
  background-color: $party-gold;
  border: 0;
  color: $party-black;
  font-size: 0.8em;
  padding: 3px 5px;
}

.yelp-thumbnail {
  border: 2px solid $party-gold;
  border-radius: 50%;
  margin: 5px;
  min-height: 100px;
  padding: 2px;
  width: 100px;
}

.business-name {
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

.business-description {
  font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  margin: 0 5px 5px 5px;
}

.whats-on-header {
  font-family: $altfont;
  text-align: center;
}

// Layout

.flex-wrapper {
  display: flex;
  display: -webkit-flex;
  height: 94vh;
  justify-content: center;
  width: 99%;
}

.form-container {
  align-self: center;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  text-align: center;
}

.yelp-output {
  // border: solid 3px goldenrod;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  width: 100%;
}

.yelp-item {
  // border: solid 3px mistyrose;
  border: 2px solid $party-gold;;
  border-radius: 25px;
  margin-bottom: 10px;
  position: relative;
  width: 70%;
}

.yelp-thumbnail {
  float: left;
}

.going-btn-form {
  position: absolute;
  bottom: 0;
  right: 0;
}

.going-btn {
  border-bottom-right-radius: 25px;
}
