<% include ../partials/head.ejs %>
  <body>
    <div class='flex-wrapper'>
      <div class='form-container'>
        <form name='location-form' action='/search' method='POST'>
          <label for='location'>Enter your location</label><br>
          <input type='text' name='location'>
          <input type='submit' value="What's On?">
        </form>
      </div>
    </div>
  </body>
</html>