<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
  <% include ../partials/login-indicator.ejs %>
    <div class='container'>
      <p>Nytelyfe relies on passwordless authentication to improve security. You can read more about that here: <a href="https://medium.com/@ninjudd/passwords-are-obsolete-9ed56d483eb#.f8rwes61t">Passwords are obsolete</a>.</p>
      <p>Alternatively, you may prefer to use a temporary, <a href="http://www.throwawaymail.com/">disposable email inbox</a>. That's cool, too. We're just happy to have you join in!</p>

      <p>
      <form action="/sendtoken" method="POST">
      <br>
        <div class='input-field'>
          <label class='email-login-label' for="user">Email</label><br>
          <input name="user" type="email" class='email-login-input' required="" aria-required="true">
          <input type="hidden" name="origin" value="">
        </div>
        <br><input class='email-login-button' type="submit" value="Login / Register">
      </form>
      </p>
      <ul>
        <li>
          <a href='/'>Back to homepage</a>
        </li>
      </ul>
    </div>
</body>
</html>