<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class='container'>
    <h1>Email sent</h1>
    <p>Please check your inbox and click on the link provided.</p>
    <p>It may take up to 30 seconds, and remember to check your junk folder, just in case.</p>
    <ul>
      <li>
        <a href='/'>Back to homepage</a>
      </li>
      <li>
        <a href='/restricted'>Try a restricted page</a>
      </li>
    </ul>
    </div>
  </body>
</html>